useDynLib("codadiags")
export("AR1")
export("add.transient")
export("null.param.cdf")
export("null.lim.cdf")
export("ad.cdf")
export("cvm.cdf")
export("ks.cdf")
export("bay.cdf")
export("maxinv.bay.cdf")
export("bridgestat.diag")
export("autocorr1")
export("transient.test")
export("brownianbridge")
export("studentbridge")
export("loglikbridge")
S3method(print, bridgestat.diag)